/* Coolors Exported Palette - coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1 */

/* RGB */
$grey: rgba(220, 220, 221, 1);
$dark-grey: rgba(197, 195, 198, 1);
$light-black: rgba(70, 73, 76, 1);
$dark-blue: rgba(76, 92, 104, 1);
$blue: rgba(25, 133, 161, 1);

$dark-red: #9c1818