ul.replies {
  margin: 20px;
  padding: 0;
  list-style: none;
  & li.reply {
    padding: 20px;
    color: black;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: $main-box-shadow;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
